<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de usuarios</title>
</head>

<body>
    <h1>Administración de usuarios</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.email}}</td>
                <td>{{this.rol}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>