<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidé mi contraseña</title>
</head>

<body>
    <h1>Olvidé mi contraseña</h1>
    <p>Ingresa tu correo electrónico para restablecer tu contraseña:</p>
    <form action="/forgot" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>

</html>